.card-section{
    text-align: center;
}

.cardsect-img-cont{
    text-align: center;
    
}

.cardsect-img{
    width: 50vw;
    max-width: 500px;
}

.cardsect-header{
    margin-top: 30px;
    text-align: center;
    font-size: calc(18px + 1vw);
}

.cardsect-subheader{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}

.cardsect-text{
    text-align: left;
    font-size: 20px;
    margin: 40px 10vw;
}

.cardsect-link{
    color: #31467b;

}

.cardsect-link:hover{
    color: #8BD8BD;
}

.cardsect-contact{
    display: flex;
    justify-content: center;
}

.cardsect-contact-cont{
    text-align: left;
}