.skillsect{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 0;
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skillsect-img{
    object-fit: cover;
    object-position: center;
    height: 100px;
}

.skillsect-header{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}