.top-container{
    display: flex;
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: white;
    margin: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.top-name{
    height: 100%;
    display: inline-flex;
    align-items: center;
    margin: 0 12px;
    padding-left: 12px;
    font-size: max(32px, min(128px, 3vw));
    color: #243665;
}

.top-socials{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.top-linkedin{
    display: flex;
    height: 50px;
    width: 50px;
    padding-right: 24px;
}

.top-github{
    display: flex;
    height: 50px;
    width: 50px;
    padding-right: 24px;
}

.top-img{
    height: 100%;
    width: 100%;
}
