.top-behind{
    position: relative;
    height: 50px;
    width: 100vw;
    z-index: 0;
}

.top-container{
    display: flex;
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: white;
    margin: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    z-index: 1;
}


.top-left{
    display: flex;
}

.top-dropdown{
    height: 40px;
    width: 80px;
    display: inline;
    position: relative;
}


.top-dropdown-icon{
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding-left: 24px;
    margin: 0;
}

.top-links{
    display: none;
    padding-top: 14px;
    position: relative;
    background-color: white;
    font-size: 20px;
    height: fit-content;
    flex-direction: column;
    width: 200px;
    z-index: 2;
}

.top-links2{
    display: block;
    padding-top: 14px;
    position: relative;
    background-color: white;
    font-size: 20px;
    height: fit-content;
    flex-direction: column;
    width: 200px;
    z-index: 2;
}

.top-link-container{
    display: flex;
    width: 100%;
    height: 40px;
}

.top-link{
    display: flex;
    text-decoration: none;
    padding-left: 24px;
    width: 100%;
    color: #243665;
    align-items: center;
}


.top-link:hover{
    background-color: #243665;
    color: white;
}

.top-name{
    height: 100%;
    display: inline-flex;
    align-items: center;
    margin: 0 12px;
    padding-left: 24px;
    font-size: 36px;
    color: #243665;
}

.top-socials{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 34px;
}

.top-linkedin{
    display: flex;
    height: 30px;
    width: 30px;
    padding-right: 24px;
}

.top-github{
    display: flex;
    height: 30px;
    width: 30px;
    padding-right: 24px;
}

.top-img{
    height: 30px;
    width: 30px;
}
